<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title>Information Page</title>
      <link href="{{ idp_metadata['en']['mdui_favicon'] }}" rel="shortcut icon" type="image/x-icon" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <style type="text/css">
         #infoHeader img {
            height: 60px;
         }
         #headerLogo{
            height: 120px;
         }
         .container{
            padding-top: 15px;
         }
      </style>
   </head>

   <body>
      <div class="container">
         <div class="row">
            <div class="col-md-2"><a href="{{ idp_metadata['en']['org_url'] }}"><img id="headerLogo" src="{{ idp_metadata['en']['mdui_logo'] }}"/></a></div>
            <div class="col-md-8 text-center">
               <h2>PARTICIPATION TO THE IDEM GARR PROJECT:<br/>IDP IN THE CLOUD<br/></h2>
               <br/>
               <p class="text-center">
{% for lang, value in idp_metadata.items() %}
                  <a href="{{ idp_metadata[lang]['mdui_infoUrl'] | default('/'~lang~'/info.html') }}"><img height="36px" src="/{{ lang }}/{{ lang }}Flag.png"></a>
{% endfor %}
               </p>
            </div>
            <div class="col-md-2">
               <a href="{{ idp_login['fed_info']['federation']['en']['url'] }}" target="_blank">
                  <img id="headerLogo" src="{{ idp_login['fed_info']['federation']['en']['logo'] }}" alt="Logo {{ idp_login['fed_info']['federation']['en']['name'] }}"/>
               </a>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12 text-center">
               <h1><strong>Information Page</strong></h1>
            </div>

            The <strong>{{ idp_metadata['en']['mdui_displayName'] }}</strong> participate to the national Federation <strong>IDEM</strong> (<strong>IDE</strong>ntity <strong>M</strong>anagement federate do for the access to the resources), to realize the GARR federated AAI, and to interfederation <strong>eduGAIN</strong> (that interconnects identity federations around the world, simplifying access to content, services and resources for the global research and education community).<br/>
            <br/>
            <p><a href="https://www.idem.garr.it/partecipare/risorse-idem" target="_blank">Resource list available as member of the {{ idp_login['fed_info']['federation']['en']['name'] }}</a> that you can access with this Identity Provider.</p>

            The credentials (username and password) for the access will be provided to:
            <ul>
               <li>Researchers</li>
               <li>Other stuff or guests</li>
            </ul>

            <h3>ACCEPTABLE USE POLICY - AUP</h3>
            <p><a href="https://www.garr.it/en/acceptable-use-policies">Acceptable Use Policies - AUP</a></p>

            <h3>ACCOUNT ACTIVATION AND MANAGEMENT</h3>
            <a href="/flup">Manage your account</a>

            <h3>USERS SUPPORT</h3>
            <ul>
               <li>Technical Contact for {{ idp_metadata['en']['mdui_displayName'] }}:</li>
               <ul>
                <li>e-mail: <a href="mailto:{{ idp_contacts['support']['mail'] }}">{{ idp_contacts['support']['mail'] }}</a></li>
{% if idp_contacts['support']['telephone'] is defined and idp_contacts['support']['telephone'] != '' %}
                <li>telephone: {{ idp_contacts['support']['telephone'] }}</li>
{% endif %}
               </ul>

            </ul>

            <h3>SERVICE OPERATOR</h3>
            <ul>
               <li>GARR: <a href="mailto:{{ idp_contacts['support']['mail']}}">{{ idp_contacts['technical']['mail'] }}</a></li>
            </ul>

            <h3>INFORMATION ABOUT THE ATTRIBUTE RELEASE TO FEDERATED RESOURCES</h3>
            <p>The {{ idp_metadata['en']['mdui_displayName'] }} with this Identity Provider can send to the requested resource some informations (called attributes) about you.<br/>
            These informations are:</p>
            <ul>
               <li>Needed to access on the resource requested</li>
               <li>Limited to only those informations strictly needed</li>
               <li>Treated by following the law</li>
            </ul>
            <p>The information set sent could change from resource to resource.<br/><br/>
            This Identity Provider will send, to each resource, <strong>only</strong> attributes needed to the access on them.<br/><br/>
            Before the access on the resource, you will view which attributes will be sent where you could decide if consent (or not) the release of such informations.
            If you denied the releasing of the needed attributes, you could not access to the resource requested.<br/><br>
            The following table contains all attributes that your IdP can send to the resources, but only a subset of these attributes will be sent to the resources, the required ones:</p>
            <br />

            <table class="table table-bordered table-responsive" width="70%">
              <tr>
                <th class="col-md-4">Attribute Name</th>
                <th class="col-md-4">Meaning</th>
              </tr>
              <tr>
                <td><code>sn</code></td>
                <td>Surname</td>
              </tr>
              <tr>
                <td><code>givenName</code></td>
                <td>Name</td>
              </tr>
              <tr>
                <td><code>cn</code></td>
                <td>Name Surname</td>
              </tr>
              <tr>
                <td><code>displayName</code></td>
                <td>Name Surname</td>
              </tr>
              <tr>
                <td><code>mail</code></td>
                <td>E-mail</td>
              </tr>
              <tr>
                <td><code>schacPersonalUniqueID</code></td>
                <td>Unique Legal Identifier of a person</td>
              </tr>
              <tr>
                <td><code>schacHomeOrganization</code></td>
                <td>The persons home organization using the domain of the organization.</td>
              </tr>
              <tr>
                <td><code>schacHomeOrganizationType</code></td>
                <td>Type of a Home Organization</td>
              </tr>
              <tr>
                <td><code>eduPersonScopedAffiliation</code></td>
                <td>Specifies your affiliation within a particular security domain in broad categories such as student, faculty, staff, alum, etc</td>
              </tr>
              <tr>
                <td><code>eduPersonPrincipalName</code></td>
                <td>A scoped identifier for a person</td>
              </tr>
              <tr>
                <td><code>eduPersonEntitlement</code></td>
                <td>A simple example would be a URL for a contract with a licensed resource provider</td>
              </tr>
              <tr>
                <td><code>eduPersonOrcid</code></td>
                <td>ORCID user identifier released and managed by orcid.org</td>
              </tr>
{% if ansible_fqdn in ['eduid-pilot.aai.garr.it','eduid-indire.aai.garr.it'] %}
              <tr>
                <td><code>schacPersonalUniqueCode</code></td>
                <td>URN for application specific codes that link a person to bits and pieces of personal data</td>
              </tr>
{% endif %}
            </table>

            <p>The Privacy Policy applied to the users of the institution {{ idp_metadata['en']['mdui_displayName'] }} is located here: <a href="{{ idp_metadata['en']['mdui_privacyUrl'] | default('/en/privacy.html') }}">Privacy Policy</a></p>
         </div>
      </div>

</body>
</html>

