<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title>Information Page</title>
      <link href="{{ idp_metadata['en']['mdui_favicon'] }}" rel="shortcut icon" type="image/x-icon" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <style type="text/css">
         #headerLogo{
            width: 100%;
            padding: 15%;
         }
       </style>
   </head>

   <body>
      <div class="container">
         <div class="row">
            <div class="col-md-2"><img id="headerLogo" src="{{ idp_metadata['en']['mdui_logo'] }}"/></div>
            <div class="col-md-8 text-center">
               <h2>PARTICIPATION TO THE IDEM GARR PROJECT:<br/>IDP IN THE CLOUD<br/><strong>Information Page</strong></h2>
               <br/>
               <p class="text-center">
{% for lang, value in idp_metadata.iteritems() %}
                  <a href="{{ idp_metadata[lang]['mdui_infoUrl'] | default('/'~lang~'/info.html') }}"><img height="36px" src="/{{ lang }}/{{ lang }}Flag.png"></a>
{% endfor %}
               </p>
            </div>
            <div class="col-md-2">
               <a href="{{ idp['login']['fed_info']['federation']['en']['url'] }}" target="_blank">
                  <img id="headerLogo" src="{{ idp['login']['fed_info']['federation']['en']['logo'] }}" alt="Logo {{ idp['login']['fed_info']['federation']['en']['name'] }}"/>
               </a>
            </div>
         </div>
         The {{ idp_metadata['en']['mdui_displayName'] }} participate to IDEM (IDEntity Management federate do for the access to the resources) and to realize the GARR federated AAI.<br/>
         The credentials (username and password) for the access will be provided to [...list the user's categories], by following what is written into the <a href="#" target="_blank"> Documento descrittivo del processo di accreditamento degli utenti (DOPAU) </a>

         <h3>USERS SUPPORT FOR CREDENTIALS AND ATTRIBUTE RELEASE PROBLEMS:</h3>
         <p> Name Surname: {{ idp_contacts['support']['givenName'] }} {{ idp_contacts['support']['surName'] }}</p>
         <p> e-mail: <a href="mailto:{{ idp_contacts['support']['mail']}}">User Support</a></p>
         <p> tel.:</p>

         <h3>TECHNICAL CONTACT FOR THE IDENTITY PROVIDER:</h3>
         <p> Name Surname: {{ idp_contacts['technical']['givenName'] }} {{ idp_contacts['technical']['surName'] }}</p>
         <p> e-mail: <a href="mailto:{{ idp_contacts['technical']['mail']}}">Technical Support</a></p>
         <p> tel.:</p>

         <h3>INFORMATION ABOUT THE ATTRIBUTE RELEASE TO FEDERATED RESOURCES:</h3>
         <p>The {{ idp_metadata['en']['mdui_displayName'] }} with this Identity Provider can send to the requested resource some informations (called attributes) about you.<br/>
         These informations are:</p>
         <ul>
            <li>Needed to access on the resource requested</li>
            <li>Limited to only those informations strictly needed</li>
            <li>Treated by following the law</li>
         </ul>
         <p>The information set sent could change from resource to resource.<br/><br/>
         This Identity Provider will send, to each resource, <strong>only</strong> attributes needed to the access on them.<br/><br/>
         Before the access on the resource, you will view which attributes will be sent where you could decide if consent (or not) the release of such informations.
         If you denied the releasing of the needed attributes, you could not access to the resource requested.<br/><br>
         The following table contains all attributes that your IdP can send to the resources, but only a subset of these attributes will be sent to the resources, the required ones:</p>
         <br />
      
         <table class="table table-bordered table-responsive" width="70%">
           <tr>
             <th class="col-md-4">Attribute Name</th>
             <th class="col-md-4">Meaning</th>
           </tr>
           <tr>
             <td><code>sn</code></td>
             <td>Surname</td>
           </tr>
           <tr>
             <td><code>givenName</code></td>
             <td>Name</td>
           </tr>
           <tr>
             <td><code>cn</code></td>
             <td>Name Surname</td>
           </tr>
           <tr>
             <td><code>displayName</code></td>
             <td>Name Surname</td>
           </tr>
           <tr>
             <td><code>schacDateOfBirth</code></td>
             <td>Date of birth</td>
           </tr>
           <tr>
             <td><code>schacYearOfBirth</code></td>
             <td>Year of birth</td>
           </tr>
           <tr>
             <td><code>schacPlaceOfBirth</code></td>
             <td>Place of birth</td>
           </tr>
           <tr>
             <td><code>schacPersonalUniqueID</code></td>
             <td>Personal Unique Identifier</td>
           </tr>
           <tr>
             <td><code>street</code></td>
             <td>Street</td>
           </tr>
           <tr>
             <td><code>houseIdentifier</code></td>
             <td>House identifier number</td>
           </tr>
           <tr>
             <td><code>l</code></td>
             <td>City</td>
           </tr>
           <tr>
             <td><code>postalCode</code></td>
             <td>Postal code</td>
           </tr>
           <tr>
             <td><code>st</code></td>
             <td>Province name</td>
           </tr>
           <tr>
             <td><code>c</code></td>
             <td>Country Name</td>
           </tr>
           <tr>
             <td><code>co</code></td>
             <td>Nation</td>
           </tr>
           <tr>
             <td><code>mail</code></td>
             <td>E-mail</td>
           </tr>
           <tr>
             <td><code>telephoneNumber</code></td>
             <td>Telephone Number</td>
           </tr>
           <tr>
             <td><code>schacPersonalPosition</code></td>
             <td>Personal Position</td>
           </tr>
           <tr>
             <td><code>ou</code></td>
             <td>Organizational unit(s)</td>
           </tr>
           <tr>
             <td><code>o</code></td>
             <td>Standard name of the top-level organization (institution) with which you are associated.</td>
           </tr>
           <tr>
             <td><code>eduPersonOrgDN</code></td>
             <td>The distinguished name (DN) of the directory entry representing the institution with which you are associated.</td>
           </tr>
           <tr>
             <td><code>eduPersonOrgUnitDN</code></td>
             <td>The distinguished name(s) (DN) of the directory entries representing your Organizational Unit(s).</td>
           </tr>
           <tr>
             <td><code>schacHomeOrganization</code></td>
             <td>The persons home organization using the domain of the organization.</td>
           </tr>
           <tr>
             <td><code>schacHomeOrganizationType</code></td>
             <td>Type of a Home Organization</td>
           </tr>
           <tr>
             <td><code>eduPersonScopedAffiliation</code></td>
             <td>Specifies your affiliation within a particular security domain in broad categories such as student, faculty, staff, alum, etc</td>
           </tr>
           <tr>
             <td><code>eduPersonPrincipalName</code></td>
             <td>A scoped identifier for a person</td>
           </tr>
           <tr>
             <td><code>eduPersonEntitlement</code></td>
             <td>A simple example would be a URL for a contract with a licensed resource provider</td>
           </tr>
         </table>
         <p><a href="https://www.idem.garr.it/it/servizi/sp" target="_blank">Resource list available as member of the {{ idp['login']['fed_info']['federation']['en']['name'] }}</a> that you can access with this Identity Provider.</p>
         <p>The Privacy Policy applied to the users of the institution {{ idp_metadata['en']['mdui_displayName'] }} is located here: <a href="{{ idp_metadata['en']['mdui_privacyUrl'] | default('/en/privacy.html') }}">Privacy Policy</a></p>
      </div>

</body>
</html>

