<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title>Privacy Policy Page</title>
      <link href="{{ idp_metadata['en']['mdui_favicon'] }}" rel="shortcut icon" type="image/x-icon" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <style type="text/css">
         #headerLogo{
            width: 100%;
            padding: 15%;
         }
       </style>
   </head>

   <body>
      <div class="container">
         <div class="row">
            <div class="col-md-2"><img id="headerLogo" src="{{ idp_metadata['en']['mdui_logo'] }}"/></div>
            <div class="col-md-8 text-center">
               <h2>PARTICIPATION TO THE IDEM GARR PROJECT:<br/>IDP IN THE CLOUD<br/><strong>Privacy Policy</strong></h2>
               <br/>
               <p class="text-center">
{% for lang, value in idp_metadata.iteritems() %}
                  <a href="{{ idp_metadata[lang]['mdui_privacyUrl'] | default('/'~lang~'/privacy.html') }}"><img height="36px" src="/{{ lang }}/{{ lang }}Flag.png"></a>
{% endfor %}
               </p>
            </div>
            <div class="col-md-2">
               <a href="{{ idp_login['fed_info']['federation']['en']['url'] }}" target="_blank">
                  <img id="headerLogo" src="{{ idp_login['fed_info']['federation']['en']['logo'] }}" alt="Logo {{ idp_login['fed_info']['federation']['en']['name'] }}"/>
               </a>
            </div>
         </div>
         <h3>Privacy</h3>
         This information is given in accordance with art <a href="http://194.242.234.211/documents/10160/2012405/Personal+Data+Protection+Code+-+Legislat.+Decree+no.196+of+30+June+2003.pdf">13 of Legislative Decree no. 96/2003</a> - Code on personal data protection - to users who interact with the website of the {{ idp_metadata['en']['mdui_displayName'] }}.

         This statement is valid only for the websites of the {{ idp_metadata['en']['mdui_displayName'] }} and not for any other website users may access through the links found on the university websites.

         <h3>Data controller</h3>
         The data controller is {{ idp_metadata['en']['mdui_displayName'] }} - [insert the street address of institution]

         <h3>Site of data treatment</h3>
         Personal data supplied by users requesting information material shall only be used to carry out the service requested and shall only be communicated to third parties if necessary for that purpose. For purposes connected to the University’s institutional activities personal data may be communicated outside the university (other public institutions or external bodies and associations).
         <h3>Navigation data</h3>

         When operating, the computer systems and software procedures necessary for the Portal System to operate correctly collect some personal data that is implicitly transmitted by the use of the Internet communication protocols or is used to improve the quality of the service offered.

         This information is not collected in order to be associated with identified interested parties, however in virtue of its nature it may lead to the identification of the user through data processing and association.

         This category of data includes IP addresses or domain names of the computers used by the users to connect to the website and other parameters relating to the user's operating system and data processing environment.

         <h3>Information on Cookies</h3>
         The institutional website ({{ idp_metadata['en']['org_url'] }}) and the connected websites (departments, libraries, museums) only use technical session cookies and external monitoring cookies. In accordance with clause 122 of the Code on Personal Data Protection and the provision of the Authority for Data Protection of 8th May 2014, these cookies do not require the user’s express consent to the use of personal data. 
          
         <br/>The cookies utilised on the University websites optimise the service provided, while easing the website usability and/or enabling users to access to specific functionalities. 
         <br/> 
         <br/><i>Session cookies</i>
         <br/>Session cookies are indispensable for authentication on online services and reserved areas. The use of these cookies (which are not permanently stored on the user’s computer and are removed once the browser is closed) is strictly limited to the transmission of the necessary session ID to explore the website safely and efficiently.
          
         <br/>Disabling such cookies may affect the correct functioning of some of the online services.
         <br/>
         <br/><i>External monitoring cookies</i>
         <br/>
         The {{ idp_metadata['en']['mdui_displayName'] }} uses Google Analytics, a service of data analysis provided by Google Inc. The service gathers group information (in an anonymous form) on visitors’ number and sessions in order to generate statistics on how the web portal is used to improve communication services and to tailor content to users’ needs.

         <h3>Data supplied voluntarily by the user</h3>
         Researcher personal data acquired during enrolment or registration or through any other specific collection methods shall only be used to carry out university institutional activities, within the limits established by law and by the regulations, in respect of the general principles of transparency, correctness and privacy.

         </br>Brief privacy statements will be progressively written or displayed on website pages offering special services on request.

         <h3>How the data is treated</h3>
         Data is treated exclusively for institutional purposes using computerised instruments and for the length of time strictly necessary to achieve the objective for which it is collected.

         <h3>Rights of interested parties</h3>

         In accordance with article 7 of legislative decree no. 196/2003, the person to whom the personal data refers has the right to:

         <br/>obtain confirmation of the existence or non-existence of data concerning him/her, and receive an intelligible communication of said data, even if it has not yet been registered.

         <br/>obtain information on:
         <ol>
            <li>the source of the personal data;</li>
            <li>purpose and method of treatment;</li>
            <li>logic applied in the event of treatment using electronic equipment;</li>
            <li>details of the data handler, mangers and representative appointed in accordance with article 5 paragraph 2;
         subjects or categories of subjects to which personal data may be sent or that may become acquainted with the data in virtue of their capacity as representative appointed for that territory by the State, or managers or persons responsible for said task.</li>
         </ol>
         <br/>
         to obtain:
         <ol>
            <li>an update, modification or when interested, completion of the data;</li>
            <li>the deletion, transformation into anonymous form, or to have the data blocked if handled unlawfully, including data that does not need to be stored for the purposes for which the data was collected or subsequently treated;</li>
            <li>a declaration stating that the persons to which the data is communicated or divulged are aware of the operations referred to in (a) ad (b), including the content, except in the case in which it is not possible to fulfil said obligation or if this entails an involvement of means that is clearly disproportionate to the right protected.</li>
         </ol>
         <br/>
         to be opposed, totally or partially:
         <ol>
            <li>for legitimate reasons, to the handling of his/her personal data, despite the fact it is relevant to the purpose of the collection;</li>
            <li>to the treatment of his/her personal data for the purpose of sending advertising material or direct sales or to its use for market research or commercial purposes.</li>
         </ol>
         <br/>
         <h3>CONTACTS:</h3>
         <p> Name Surname: {{ idp_contacts['support']['givenName'] }} {{ idp_contacts['support']['surName'] }}</p>
         <p> e-mail: <a href="mailto:{{ idp_contacts['support']['mail']}}">{{ idp_contacts['support']['mail'] }}</a></p>
         <p> tel.:</p>
         <br/>
         <p>Here you can find the {{ idp_metadata['en']['mdui_displayName'] }} Information Page: <a href="{{ idp_metadata['en']['mdui_infoUrl'] | default('/en/info.html') }}">Information Page</a></p>
      </div>
   </body>
</html>

