<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title>Privacy Policy Page</title>
      <link href="{{ idp_metadata['en']['mdui_favicon'] }}" rel="shortcut icon" type="image/x-icon" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <style type="text/css">
         #infoHeader img {
            height: 60px;
         }
         #headerLogo{
            height: 120px;
         }
         .container{
            padding-top: 15px;
         }
         table {
            width: 100%;
            background-color: #FFFFFF;
            color: #000000;
            border-color: #000000;
            border-collapse: collapse;
         }
         th, td {
            width: 40%;
         }
         td {
            padding: 20px;
         }
      </style>
   </head>

   <body>
      <div class="container">
         <div class="row">
            <div class="col-md-2"><img id="headerLogo" src="{{ idp_metadata['en']['mdui_logo'] }}"/></div>
            <div class="col-md-8 text-center">
               <h2>PARTICIPATION TO THE IDEM GARR PROJECT:<br/>IDP IN THE CLOUD<br/><strong>Privacy Policy</strong></h2>
               <br/>
               <p class="text-center">
{% for lang, value in idp_metadata.iteritems() %}
                  <a href="{{ idp_metadata[lang]['mdui_privacyUrl'] | default('/'~lang~'/privacy.html') }}"><img height="36px" src="/{{ lang }}/{{ lang }}Flag.png"></a>
{% endfor %}
               </p>
            </div>
            <div class="col-md-2">
               <a href="{{ idp_login['fed_info']['federation']['en']['url'] }}" target="_blank">
                  <img id="headerLogo" src="{{ idp_login['fed_info']['federation']['en']['logo'] }}" alt="Logo {{ idp_login['fed_info']['federation']['en']['name'] }}"/>
               </a>
            </div>
         </div>
         <h3>Privacy Policy</h3>
         <table border="1" cellspacing="0" cellpadding="0">
            <tbody>
               <tr>
                  <td>Service Name</td>
                  <td>
                     <p><strong>For contractors:</strong> Cloud  basedIdP provided by  Consortium GARR</p>
                     <p><strong>For interested users :</strong> Identity Provider</p>
                  </td>
               </tr>
               <tr>
                  <td>Service Description</td>
                  <td>
                     <p><strong>For contractors:</strong> Identity Provider  Service embedded in a virtual provided by Consortium GARR.</p>
                     <p><strong>For the interested user:</strong> Federated Authentication Service offered by the User's Home Organization.</p>
                  </td>
               </tr>
               <tr>
                  <td>Data Processor</td>
                  <td>
                     <p><strong>For the contractor:</strong></p>
                     <ul>
                        <li><strong>Name:</strong></li>
                        <li><strong>Email:</strong></li>
                     </ul>
                     <strong>Consortium GARR – Via dei Tizii, 6 – 00185 ROMA, IT</strong>
                     <ul>
                        <li><strong>Name:</strong></li>
                        <li><strong>Email:</strong></li>
                     </ul>
                     <br/>
                     <p>Contractor and Consortium GARR are co-owners  of Personal Data processing provided by the service, following art.26 of GDPR.</p>
                     <br/>
                     <p>Contractor is responsible for the exploitation of the interested user rights and for the communication  of the information related to articles  13 and 14 of GDPR.</p>
                  </td>
               </tr>
               <tr>
                  <td>Responsible for Data Protection(GDPR Section 4) (if applicabile)</td>
                  <td>Not applicabile</td>
               </tr>
               <tr>
                  <td><p>Jurisdiction and <br/><br/>control authority</p></td>
                  <td>
                     <p><strong><p>IT-IT</p></strong></p>
                     <p><strong>Personal Data Protection Authority</strong><br/>How to file a complaint with the data protection authority:<br/>
<a href="http://www.garanteprivacy.it/home/diritti/come-agire-per-tutelare-i-nostri-dati-personali">http://www.garanteprivacy.it/home/diritti/come-agire-per-tutelare-i-nostri-dati-personali</a></p>
                  </td>
               </tr>
               <tr>
                  <td><p>Processed Personal Data and Legal basis for the processing</p></td>
                  <td>
                     <ol>
                        <li>Some of all of the following personal data from the user collected by the contractor
                           <ol>
                              <li>
                                 <strong>one or more unique identifiers</strong> (uid, schacPersonalUniqueID, eduPersonOrcid, eduPersonTargetedID, SAML persistent identifier);
                              </li>
                              <li><strong>Identification credentials</strong> (userPassword);</li>
                              <li><strong>Surname and Name</strong> (sn, givenName, cn, displayName);</li>
                              <li><strong>email address</strong> (mail);</li>
                              <li><strong>role in the Organization</strong> (eduPersonAffiliation,eduPersonEntitlement);</li>
                              <li><strong>Organization Name</strong> (schacHomeOrganization,schacHomeOrganizationType);</li>
                           </ol>
                        </li>
                        <li>User personal data directly collected during normal service operation:
                           <ol>
                              <li> Preferences about consensus on using resources over the internet;</li>
                              <li>IdP service log records: user identifier, date and time of usage, requested service, attributes sent to the service;</li>
                              <li>Log record of other services (http, ldap, …).</li>
                           </ol>
                        </li>
                     </ol>
                     <br/>
                     <p>Collected personal data are gathered and stored in Italy according to GDPR regulation. Their processment is necessary to provide the service.</p>
                  </td>
               </tr>
               <tr>
                  <td><p>Goal of the personal data processing</p></td>
                  <td>
                     <p>Provide Identity Management as a Service and Identity Provider as a Service  and Identity Provider as a Service with the goal of authenticating interested user  in order to enable access to network services requested by the interested user </p>
                     <p>Personal data (attributes) are transferred to third parties  (Resources) upon request of the interested user with the goal of accessing the required service</p>
                     <p>Logging data contain user personal data that are being collected with the goal to verify the operation of the service and to ensure its safety. </p>
                  </td>
               </tr>
               <tr>
                  <td><p>Third parties to which data are transferred</p></td>
                  <td>
                     <p> Contractor decides which third parties to release personal data of interested users respecting the principle of minimization.  Personal data are transferred only when interested users request access to third party's resource and with the goal of getting the service by the third party itself.</p>
                     <p>Such resources are:
                        <ul>
                           <li>All IDEM Federation resources;
                           <li>Le Resources of the eduGAIN interfederation, compliant with the GDPR DP Code of Conduct;
                           <li>eduGAIN resources compliant with Reserach and Scholarship;
                           <li>All resources of eduGAIN interfederation ;
                           <li>Other resources specifid by the contractor
                        </ul>
                     </p>
                     <p>Third parties outside EAA:
                        <ul>
                           <li>Resources compliant to  Data Protection Code of Conduct;</li>
                           <li>Resources compliant with Research and Scholarship;</li>
                           <li>Other resources...</li>
                        </ul>
                     </p>
                  </td>
               </tr>
               <tr>
                  <td><p>How to access to, correct, delete personal data and oppose to their processing .</p></td>
                  <td><p>Contact the above mentioned Data Processors</p></td>
               </tr>
               <tr>
                  <td><p>How to revoke user consent</p></td>
                  <td><p>
The only collected data with user consent are preferences about the transmission of attributes to third parties. Data are gathered online at the time of first access to resources, and can be deleted, with the outcome of eliminating consent to their transmission, starting over the login procedure and checking the <strong> "Clean the consent to release information to this service, previously provided"</strong>  box.</p></td>
               </tr>
               <tr>
                  <td><p>Data portability</p></td>
                  <td><p>Contractor can request data portability related to digital identities, including credentials and consent information. These will be provided in an open format and accordin to  Art. 20 of  GDPR.
Portability service is free of charge at cessation of service.</p></td>
               </tr>
               <tr>
                  <td><p>Duration of Data Custodial</p></td>
                  <td><p>
All personal data of the interested user (attributes) are kept for the whole duration of the request of the service to the user. If it is no longer necessary to provide the service, contract can disable users.  Also the interested user can request cancellation of its user account. In the case of cancellation of intersted user account, data are kept for additional 18 months in order to evaluate if user has/can be enabled again (reactivated). After 18 months of user account disabling, if no request have arrived of reactivation, all interested user data are deleted. 

</p>
<p>Data are kept for 1 month from collection time; after that , they are anonymized by means of an automated procedure. .</p></td>
               </tr>
            </tbody>
         </table>
         <h3>CONTACTS:</h3>
         <p> Name Surname: {{ idp_contacts['support']['givenName'] }} {{ idp_contacts['support']['surName'] }}</p>
         <p> e-mail: <a href="mailto:{{ idp_contacts['support']['mail']}}">{{ idp_contacts['support']['mail'] }}</a></p>
         <p> tel.:</p>
         <br/>
         <p>Here you can find the {{ idp_metadata['en']['mdui_displayName'] }} Information Page: <a href="{{ idp_metadata['en']['mdui_infoUrl'] | default('/en/info.html') }}">Information Page</a></p>
      </div>
   </body>
</html>
