# ignore generated 'retry' files
*.retry

# ignore vault password file
*.vault_pass.txt

# ignore crt and key files
*.crt
*.key
*.pem
*.jks
*.kver
*.p12
*_pw.txt

# ignore swp files
*.swp

# ignore emacs files
*~

# ignore .git_ignore files
*.git_ignore


# host_vars
inventories/*/host_vars/*

# Exclude
!host_vars/FQDN.yml-template
!host_vars/FQDN.yml-template-no-ldap


# ignore Ansible inventories
*.ini

# ignore gunzip files
*.gz


# ignore entire 'restore' idp directory 
roles/idp/files/restore/*
roles/idp/files/credentials/*.txt

# ignore entire 'restore' openldap directory
roles/openldap/files/restore/*

# Exclude
!roles/idp/files/restore/sample-FQDN-dir/
!roles/openldap/files/restore/sample-FQDN-dir/

