# ignore generated 'retry' files
*.retry

# ignore vault password file
*.vault_pass.txt

# ignore crt and key files
*.crt
*.key
*.pem
*.jks
*.kver
*.p12


# ignore swp files
*.swp

# ignore emacs files
*~

# ignore .git_ignore files
*.git_ignore


# host_vars
!host_vars/
host_vars/*

# Exclude
!host_vars/FQDN.yml-template


# ignore Ansible inventories
*.ini

# host_vars
!restore/
restore/*

# Exclude
!restore/sample-FQDN-dir/

