# Cookie policy messages
idp.login.epb = I cookie ci aiutano a fornire i nostri servizi. Utilizzando tali servizi, accetti l'utilizzo dei cookie da parte nostra.
idp.login.epb_info = Maggiori informazioni qui.
idp.login.epb_ok = Chiudi.

idp.login.epb.title = Politica dei Cookie per l' IdP di {{ idp_metadata['it']['mdui_displayName'] }}

idp.login.epb.subtitle1 = Cosa sono i Cookies
idp.login.epb.paragraph1_1 = Come &egrave; pratica comune di quasi tutti i siti professionali, questo sito usa i cookies, che sono picocli file che vengono scaricati sul tuo computer per migliorare la tua esperienza di utilizzo del sito. Questa pagina descrive le informazioni che sono raccolte dai cookie di questo sito, come questi cookie vengono utilizzati e come mai il nostro sito ha la necessit&agrave; di memorizzarli. Ti mostreremo anche come ti &egrave; possibile impedire che questi cookie vengano memorizzati, anche se questo potrebbe diminuire o 'rompere' alcuni elementi e funzionalit&agrave; del sito.
idp.login.epb.paragraph1_2 = For more general information on cookies see the Wikipedia article on HTTP Cookies...

idp.login.epb.subtitle2 = Come utilizziamo i Cookie
idp.login.epb.paragraph2_1 = Noi usiamo i cookie per una serie di motivi, descirtti nel seguito. Sfortunatamente in molti casi non esistono opzioni che siano standard industruali per disabilitare i cookie senza disabilitare complitamente la funzionalit&agrave; e le caratteristiche che essi aggiungono al sito. &Egrave; quindi preferibile che tu lasci tutti i cookie attiviti se non sei sicuro di se ti servano o meno e se questi cookie servono ad offrire il servizio che desideri utilizzare.

idp.login.epb.subtitle3 = Disabilitare i Cookie
idp.login.epb.paragraph3_1 = Puoi eliminare la memorizzazione di cookie modificando opportunamente le configurazioni del tuo browser web (fai rifemimento all'Help del tuo browser per sapere come fare). Presta attenzione per&ograve; al fatto che disabilitare i cookie avr&agrave; un effetto sulle funzionalit&agreve; di questo ed altri siti web che vorrai visitare. Disabilitare i cookie significher&agreve; probabilmente disabilitare certe funzionalit&agrave; e caratteristiche di questo sito web. Quindi non &egrave; consigliato che tu disabiliti i cookie.

idp.login.epb.subtitle4 = I Cookie che settiamo
idp.login.epb.paragraph4_1 = Se crei un account con noi, allora utilizzeremo i cookie per gestire il processo di login e accesso, oltre che per l'amministrazione generale. Questi cookie vengono solitamente cancellati dopo l'operazione di logout, tuttavia in alcuni casi essi possono rimanere anche oltre per memorizzare le tue preferenze sul sito, anche dopo il logout.
idp.login.epb.paragraph4_2 = Utilizziamo cookie quando accedi al nostro sito per poter ricordare il tuo avvenuto accesso. Questo rimuove la necessit&agrave per te di dove fare login ogni singola volta che visiti una pagina web. Questi cookie sono solitamente rimossi o cancellati quando fai logout per garantire il fatto che tu possa accedere alle funzionalit&agrave e aree del del sito ristrette solo quando sei loggato.
idp.login.epb.paragraph4_3 = Quando invii dati attraverso una form, come quelle che si possono trovare nelle pagine di contatto o nelle form per i commenti, dei cookie possono essere impostati per ricordare i tuoi dettagli utente per futuri scambi di corrispondenza.

idp.login.epb.subtitle5 = Cookie di Terze Parti
idp.login.epb.paragraph5_1 = In alcuni casi speciali, utilizziamo anche cookie forniti da terze parti fidate. Questa sezione dettaglia quali cookie di terze parti potranno essere incontrati durante la navigazione in questo sito.
idp.login.epb.paragraph5_2 = Strumenti di analisi di terze parti sono utilizzati per tenere traccia e misurare l'utilizzod i questo sito in modo che ci sia possibile continuare a produrre contenuti attraenti. Questi cookie possono tracciare alcune cose quali ad esempio quanto tempo spendi sul sito o quali pagine visiti. Queste informazioni ci aiutano a capire come potremmo migliorare questo sito per te.

idp.login.epb.subtitle6 = Informazioni aggiuntive
idp.login.epb.paragraph6_1 = Ci auguriamo che queste spiegazioni abbiamo chiarito gli aspetti significativi della gestione dei cookie per te e, come &egrave; stato precedentemente detto, se c'&egrave; qualcosa di cui non sei sicuro che ti serva o meno, &egrave; solitamente pi&ugrave; sicuro lasciare i cookie abilitati per evitare che la disabiltazione interferisca con una delle funzionalit&agrave; che utilizzi nel nostro sito. Ad ogni modo, se necessiti di ulteriori informazioni puoi contattarci attraverso uno dei nostri metodi preferiti.
idp.login.epb.paragraph6_2 = {{ idp_contacts['support']['mail'] }} 

idp.login.epb.close = Clicca qui per chiudere
