# Proprietà che sostituiscono quelli in messages_it

idp.logo={{ idp_metadata['it']['mdui_logo'] }}
idp.logo.alt-text={{ idp_metadata['it']['org_displayName'] }}
idp.footer={{ idp_login['footer']['it']['text'] }}
bad-password.message=La password immessa non è corretta o l'account non è attivo.
idp.login.forgotPassword=Password dimenticata<br/>o Attivazione account

# Nuove proprietà personali
idp.favicon={{ idp_metadata['it']['mdui_favicon'] }}
idp.infoUrl={{ idp_metadata['it']['mdui_infoUrl'] }}
idp.privacyPage={{ idp_metadata['it']['mdui_privacyUrl'] }}
idp.login.moreinfo=Informazioni sulla risorsa
idp.login.goback=Ritorna alla pagina di Login
idp.infopage=Informazioni
idp.privacypage=Politica sulla Privacy
idp.description={{ idp_metadata['it']['mdui_description'] }}
idp.organization={{ idp_metadata['it']['org_displayName'] }}
idp.contacts={{ idp_contacts['technical']['mail'] }}
idp.nocontacts=Nessun Contatto
idp.noprivacy=Nessuna Privacy Policy
idp.noinfopage=Nessuna Pagina di Informazioni
sp.description=Descrizione SP
sp.organization=Organizzazione di appartenenza della risorsa
sp.contacts=Contatti della risorsa
sp.nocontacts=Nessun contatto per questa risorsa
sp.infopage=Pagina di Informazioni per la risorsa
sp.noinfopage=Nessuna pagina di informazioni disponibile
sp.privacypage=Politiche sulla Privacy della risorsa
sp.noprivacypage=Nessuna Politica sulla Privacy definita dalla risorsa
{% for fed, value in idp_login['fed_info'].iteritems() %}
{{ fed }}.url={{ idp_login['fed_info'][fed]['it']['url'] }}
{{ fed }}.logo={{ idp_login['fed_info'][fed]['it']['logo'] }}
{{ fed }}.name={{ idp_login['fed_info'][fed]['it']['name'] }}
{% endfor%}

# Messaggi per il cambio password sfruttando le PPolicy di OpenLDAP
{% if idp_config['ldap']['ppolicy'] is defined and idp_config['ldap']['ppolicy']['change_password_url'] is defined and idp_config['ldap']['ppolicy']['change_password_url'] != "" %}
ChangePassword=change-password
change-password.message=Cambia la tua password!
change-password.linkText=Clicca Qui
{% endif %}
