idp.favicon={{ idp_favicon_it }}
idp.infoUrl={{ idp_info_it }}
idp.privacyPage={{ idp_privacy_it }}
idp.login.moreinfo=Maggiori informazioni circa la risorsa
idp.login.goback=Ritorna alla pagina di Login
idp.infopage=Informazioni
idp.privacypage=Politica sulla Privacy
idp.description={{ ldap_org }}
idp.organization=GARR
idp.contacts={{ idp_tech_mail }}
idp.nocontacts=Nessun Contatto
idp.noprivacy=Nessuna Privacy Policy
idp.noinfopage=Nessuna Pagina di Informazioni
idp.footer=FOOTER ITA
sp.description=Descrizione SP
sp.organization=Organizzazione di appartenenza della risorsa
sp.contacts=Contatti della risorsa
sp.nocontacts=Nessun contatto per questa risorsa
sp.infopage=Pagina di Informazioni per la risorsa
sp.noinfopage=Nessuna pagina di informazioni disponibile
sp.privacypage=Politiche sulla Privacy della risorsa
sp.noprivacypage=Nessuna Politica sulla Privacy definita dalla risorsa
