idp.favicon={{ idp_metadata['en']['mdui_favicon'] }}
idp.infoUrl={{ idp_metadata['en']['mdui_infoUrl'] }}
idp.privacyPage={{ idp_metadata['en']['mdui_privacyUrl'] }}
idp.login.moreinfo=Resource informations
idp.login.goback=Go back to login page
idp.infopage=Informations
idp.privacypage=Privacy Policy
idp.description={{ idp['description'] }}
idp.organization=GARR
idp.contacts={{ idp_contacts['technical']['mail'] }}
idp.nocontacts=No Contacts
idp.noprivacy=No Privacy Policy
idp.noinfopage=No Information Page
idp.footer=FOOTER ENG
sp.description=SP Description
sp.organization=SP Organization
sp.contacts=SP Contacts
sp.nocontacts=SP Contacts absent
sp.infopage=SP Information Page
sp.noinfopage=SP Information Page absent
sp.privacypage=SP Privacy Policy
sp.noprivacypage=SP Privacy Policy absent
federation.url={{ idp_metadata['en']['federation']['url'] }}
federation.logo={{ idp_metadata['en']['federation']['logo'] }}
federation.name={{ idp_metadata['en']['federation']['name'] }}
edugain.url={{ idp_metadata['en']['edugain']['url'] }}
edugain.logo={{ idp_metadata['en']['edugain']['logo'] }}
edugain.name={{ idp_metadata['en']['edugain']['name'] }}
