idp.favicon={{ idp_metadata['en']['mdui_favicon'] }}
idp.infoUrl={{ idp_metadata['en']['mdui_infoUrl'] }}
idp.privacyPage={{ idp_metadata['en']['mdui_privacyUrl'] }}
idp.login.moreinfo=Resource informations
idp.login.goback=Go back to login page
idp.infopage=Informations
idp.privacypage=Privacy Policy
idp.description={{ ldap_org }}
idp.organization=GARR
idp.contacts={{ idp_contacts['technical']['mail'] }}
idp.nocontacts=No Contacts
idp.noprivacy=No Privacy Policy
idp.noinfopage=No Information Page
idp.footer=FOOTER ENG
sp.description=SP Description
sp.organization=SP Organization
sp.contacts=SP Contacts
sp.nocontacts=SP Contacts absent
sp.infopage=SP Information Page
sp.noinfopage=SP Information Page absent
sp.privacypage=SP Privacy Policy
sp.noprivacypage=SP Privacy Policy absent
federation.url={{ idp_federation_url_en }}
federation.logo={{ idp_federation_logo_en }}
federation.name={{ idp_federation_name_en }}
edugain.url={{ idp_edugain_url_en }}
edugain.logo={{ idp_edugain_logo_en }}
edugain.name={{ idp_edugain_name_en }}
