idp.favicon={{ idp_favicon_en }}
idp.infoUrl={{ idp_info_en }}
idp.privacyPage={{ idp_privacy_en }}
idp.login.moreinfo=More informations about the resource
idp.login.goback=Go back to login page
idp.infopage=Informations
idp.privacypage=Privacy Policy
idp.description={{ ldap_org }}
idp.organization=GARR
idp.contacts={{ idp_tech_mail }}
idp.nocontacts=No Contacts
idp.noprivacy=No Privacy Policy
idp.noinfopage=No Information Page
idp.footer=FOOTER ENG
sp.description=SP Description
sp.organization=SP Organization
sp.contacts=SP Contacts
sp.nocontacts=SP Contacts absent
sp.infopage=SP Information Page
sp.noinfopage=SP Information Page absent
sp.privacypage=SP Privacy Policy
sp.noprivacypage=SP Privacy Policy absent
