<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <title>Pagina sulla Privacy</title>
      <link href="{{ idp_metadata['it']['mdui_favicon'] }}" rel="shortcut icon" type="image/x-icon" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <style type="text/css">
         #infoHeader img {
            height: 60px;
         }
         #headerLogo{
            width: 100%;
            padding: 15%;
         }
      </style>
   </head>

   <body>
      <div class="container">
         <div class='row'>
            <div class="col-md-2"><img id="headerLogo" src="{{ idp_metadata['it']['mdui_logo'] }}"/></div>
            <div class="col-md-8 text-center">
               <h2>PARTECIPAZIONE AL PROGETTO DI IDEM GARR:<br/>IDP IN THE CLOUD<br/><strong>Privacy Policy</strong></h2>
               <br/>
               <p class="text-center">
{% for lang, value in idp_metadata.iteritems() %}
                  <a href="/{{ lang }}/privacy.html"><img height="36px" src="/{{ lang }}/{{ lang }}Flag.png"></a>
{% endfor %}
               </p>
            </div>
            <div class="col-md-2">
               <a href="{{ idp_federation_url_it }}" target="_blank">
                  <img id="headerLogo" src="{{ idp_federation_logo_it }}" alt="Logo {{ idp_federation_name_it }}"/>
               </a>
            </div>
         </div>
         <h3>Privacy</h3>
         La presente informativa è resa ai sensi dell'articolo 13 del Decreto Legislativo n.196 del 2003, Codice in Materia di Protezione dei Dati Personali, a coloro che interagiscono con i servizi web dell'{{ idp_metadata['en']['mdui_displayName'] }} accessibili per via telematica.

         Essa è riferita al solo Sito di Ateneo e non ha valore per siti web esterni eventualmente visitati dall'utente tramite link.

         <a href="http://www.garanteprivacy.it/web/guest/home/docweb/-/docweb-display/docweb/1311248">Codice in Materia di Protezione dei Dati Personali</a>
         <h3>Titolare del trattamento</h3>

         Il titolare del trattamento dei dati personali è {{ idp_metadata['en']['mdui_displayName'] }} - [inserire l'indirizzo fisico dell'istituto].

         <h3>Luogo di trattamento dei dati</h3>

         I dati personali forniti dagli utenti che inoltrano richieste di invio di materiale informativo sono utilizzati al solo fine di eseguire il servizio o la prestazione richiesta e sono comunicati a terzi (enti pubblici o soggetti privati) nel solo caso in cui ciò sia a tal fine necessario. I dati personali vengono inoltre comunicati all'istituto bancario che, in convenzione con l'Ateneo, gestisce la procedura di incasso delle tasse e dei contributi universitari.

         <br/>I dati personali saranno inoltre comunicati dall'Università, sia durante la carriera universitaria degli studenti sia dopo la laurea, a soggetti, enti ed associazioni esterni, per iniziative di orientamento ed inserimento nel mondo del lavoro e per attività di formazione post-laurea.

         <h3>Dati di navigazione</h3>

         I sistemi informatici e le procedure software preposte al funzionamento del Sito acquisiscono, nel corso del loro normale esercizio, alcuni dati personali la cui trasmissione è implicita nell'uso dei protocolli di comunicazione di Internet o è utilizzata per migliorare la qualità del servizio offerto.

         <br/>In questa categoria di dati rientrano gli indirizzi IP o i nomi a dominio dei computer utilizzati dagli utenti che si connettono al Sito, l'orario della richiesta, ed altri parametri relativi al sistema operativo e all'ambiente informatico dell'utente.

         <h3>Cookie</h3>

         I cookie utilizzati nei siti web d'Ateneo consentono di migliorare il servizio reso agli utenti, rendendo più efficace l’uso e/o abilitando determinate funzionalità. 
         <br/>
         <br><i>Cookie di sessione</i>
         <br/>
         I cookie di sessione sono indispensabili per gestire l’autenticazione ai servizi on-line e alle aree riservate. L’uso di tali cookie (che non vengono memorizzati in modo persistente sul computer dell’utente e si eliminano con la chiusura del browser) è strettamente limitato alla trasmissione di identificativi di sessione necessari per consentire l’esplorazione sicura ed efficiente del sito.
         <br>La disabilitazione e l'assenza di questi cookie non consente l’utilizzo di parte dei servizi on line.
         <br/>
         <br/><i>Cookie di monitoraggio</i>
         <br/>
         L'{{ idp_metadata['it']['mdui_displayName'] }} si avvale del servizio di Google Analytics, un servizio di analisi dei dati fornito dalla società Google Inc, che consente di raccogliere informazioni, in forma aggregata, sul numero degli utenti e su come questi visitano il sito, e quindi elaborare statistiche generali sul servizio e sul suo utilizzo per finalità migliorative del servizio di comunicazione.
         <br/>
         <br/><i>Cookie di terze parti presenti sul sito</i>
         <br/>
         Visitando il Sito web {{ idp_metadata['it']['org_url'] }} l’utente potrebbe ricevere sul suo dispositivo anche cookie da siti gestiti da altre organizzazioni ("c.d cookies di "terze parti"): ciò accade perché sul Sito possono essere presenti elementi come, ad esempio, immagini, mappe, specifici link a pagine web di siti o servizi web. 
         <br/>Questi cookies possono essere inviati al browser dell’utente da società terze direttamente dal loro siti web cui è possibile accedere navigando dal {{ idp_metadata['it']['org_url'] }}. 
          
         <br/>Ai fini della trasparenza informativa, di seguito si riporta una lista dei servizi di terze parti presenti sul sito, le finalità e i link alle pagine informative dei diversi servizi.
          
         <h3>INTERAZIONE CON SOCIAL NETWORK E PIATTAFORME ESTERNE</h3>
         Questi servizi consentono a questo sito di inviare messaggi pubblicitari in linea con le preferenze dell’utente. 
         Questa attività viene effettuata tramite il tracciamento dei dati di utilizzo e l'uso di Cookie, informazioni che vengono trasferite ai partner a cui l'attività di remarketing e behavioral targeting è collegata.
         <br/> 
         <br/><i>Facebook Remarketing (Facebook, Inc.)</i>
         <br/>Facebook Remarketing è un servizio di Remarketing e Behavioral Targeting fornito da Facebook, Inc. che collega l'attività di questo sito web con il network di advertising Facebook.
         <br/>Dati personali raccolti: Cookie e Dati di utilizzo.
         <br/>Luogo del trattamento : USA – Privacy Policy – Opt out.
         <br/> 
         <br/><i>Google Adwords  (Google, Inc.)</i>
         <br/>Google Adwords è un servizio di pubblicità mirata fornito da Google, Inc che collega l’attività di questo sito web con il network di advertising di Google
         <br/>Luogo del trattamento : USA
         <br/>Per consultare l’informativa privacy di Google Inc., si rinvia al sito Internet <a href="http://www.google.com/intl/it/policies/privacy">http://www.garanteprivacy.it/web/guest/home/docweb/-/docweb-display/docweb/1311248</a>
         <br/>Opt out:  <a href="https://support.google.com/ads/answer/2662922?hl=it&ref_topic=2941003">https://support.google.com/ads/answer/2662922?hl=it&ref_topic=2941003</a>
         <br/>Altre informazioni
         <br/>Per maggiori informazioni sull’utilizzo dei cookies e su come bloccarli, è possibile visitare i seguenti siti
         <ul>
            <li><a href="http://www.youronlinechoices.eu/">www.youronlinechoices.eu</a></li>
            <li><a href=http://www.youronlinechoices.eu/>www.allaboutcookies.org</a></li>
         </ul>

         <h3>Dati forniti volontariamente dall'utente</h3>

         I dati personali degli studenti, acquisiti con l'immatricolazione e l'iscrizione o con successive eventuali modalità apposite di raccolta, saranno trattati per lo svolgimento delle proprie attività istituzionali, nei limiti stabiliti dalla legge e dai regolamenti, nel rispetto dei principi generali di trasparenza, correttezza e riservatezza.

         <br/>Specifiche informative di sintesi verranno progressivamente riportate o visualizzate nelle pagine dei siti predisposte per particolari servizi a richiesta.

         <h3>Modalità del trattamento</h3>

         I dati personali sono trattati con strumenti automatizzati per il tempo strettamente necessario a conseguire gli scopi per cui sono stati raccolti. Specifiche misure di sicurezza sono osservate per prevenire la perdita dei dati, usi illeciti o non corretti ed accessi non autorizzati.

         <h3>Diritti degli interessati</h3>

         Ai sensi dell'art. 7 del d. lgs. n. 196/2003, l'interessato può esercitare:

         <br/>il diritto di conoscere:
         <ol>
            <li>l'origine dei dati personali,</li>
            <li>le finalità e modalità del trattamento,</li>
            <li>la logica applicata in caso di trattamento effettuato con l'ausilio di strumenti elettronici,
         gli estremi identificativi del titolare, dei responsabili, dei soggetti o delle categorie di soggetti ai quali i dati personali possono essere comunicati o che possono venirne a conoscenza;</li>
         </ol>
         <br/>il diritto di ottenere a cura del titolare o del responsabile, senza ritardo:
         <ol>
            <li>l'aggiornamento, la rettificazione ovvero, quando vi ha interesse, l'integrazione dei dati,</li>
            <li>la cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge, compresi quelli di cui non è necessaria la conservazione in relazione agli scopi per i quali i dati sono stati raccolti o successivamente trattati,</li>
            <li>l'attestazione che le operazioni di cui alle precedenti lettere a-b sono state portate a conoscenza, anche per quanto riguarda il loro contenuto, di coloro ai quali i dati sono stati comunicati o diffusi, eccettuato il caso in cui tale adempimento si rivela impossibile o comporta un impiego di mezzi manifestamente sproporzionato rispetto al diritto tutelato;</li>
         </ol>
         <br>il diritto di opporsi in tutto o in parte:
         <ol>
            <li>per motivi legittimi al trattamento dei dati personali che lo riguardano, ancorché pertinenti allo scopo della raccolta,</li>
            <li>al trattamento dei dati personali che lo riguardano ai fini dell'invio di materiale pubblicitario o di vendita diretta ovvero per il compimento di ricerche di mercato o di comunicazione commerciale.</li>
         </ol>
         <br/>
         I diritti possono essere esercitati con richiesta al Titolare ({{ idp_metadata['it']['mdui_displayName'] }} - [Inserire l'indirizzo del proprio istituto e numero civico]).

         <h3>CONTACTS</h3>
         <p> Nome Cognome: {{ idp_contacts['support']['givenName'] }} {{ idp_contacts['support']['surName'] }}</p>
         <p> e-mail: <a href="{{ idp_contacts['support']['mail'] }}">Supporto Utenti</a></p>
         <p> tel.:</p>
         <br/>
         <p>Qui puoi trovare la pagina di informazioni per l'istituto {{ idp_metadata['it']['mdui_displayName'] }}: <a href="/it/info.html">Information Page</a></p>
      </div>
   </body>
</html>
