<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.0//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="auto" lang="auto" dir="ltr">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Strumenti per la gestione utenti</title>
  <link rel="shortcut icon" href="../it/favicon.png">
  <link rel="stylesheet" href="../idm/css/default/custom.css">
 </head>
 <body>
  <table class="page" border="0" width="100%">
   <tbody>
    <tr>
     <td>
      <div>
       <table width="100%" border="0">
        <tbody>
         <tr>
          <td align="left" width="10%"><a href="{{ idp_metadata['it']['org_url'] }}" target="_self"><img src="../it/logo.png" alt="Logo" class="logo"></a></td>
          <td align="left"><h1>Gestione Utenti per l'Identity Provider di {{ idp_metadata['it']['org_name'] }}</h1></td>
         </tr>
        </tbody>
       </table>
      </div>
     </td>
    </tr>
    <tr>
     <td class="body" width="80%">
      <div>
       <table class="body">
        <tbody>
         <tr>
          <td>
           <center>
            <h3 class="title">Strumenti per la gestione degli utenti</h3>
            <center>&nbsp;</center>
            <table class="entry" cellspacing="0" border="0" style="margin-left: auto; margin-right: auto;">
             <tbody>
              <tr class="updated">
               <td class="title">Gestione Utenti</td>
               <td class="note"></td>
              </tr>
              <tr class="updated">
               <td class="value" colspan="2">
                <table cellspacing="0" cellpadding="0" width="100%" border="0">
                 <tbody>
                  <tr>
                   <td class="icon" style="width: 25px;"><img src="images/ldap-ou.png" alt="Icon" style="float: right;">&nbsp;</td>
                   <td valign="top">Accedi all'interfaccia di <b>Gestione Utenti</b><br/> per la creazione, cancellazione, modifica degli utenti sul server LDAP.</td>
                   <td valign="top" style="text-align: right;"></td>
                  </tr>
                 </tbody>
                </table>
                <table class="entry" border="0">
                 <tbody>
                  <tr>
                   <td style="width: 25px;">&nbsp;</td>
                   <td><input type="button" value="Vai al sito di amministrazione utenti" onclick="location.href = '/idm'"></td>
                  </tr>
                 </tbody>
                </table>
               </td>
              </tr>
              <tr class="updated">
               <td class="title">Blocco/Sblocco utenti</td>
               <td class="note"></td>
              </tr>
              <tr class="updated">
               <td class="value" colspan="2">
                <table cellspacing="0" cellpadding="0" width="100%" border="0">
                 <tbody>
                  <tr>
                   <td class="icon" style="width: 25px;"><img src="images/lock-icon.png" alt="Icon" style="float: right;">&nbsp;</td>
                   <td valign="top">Accedi all'interfaccia di <b>Blocco/Sblocco</b><br/> per il blocco/sblocco degli utenti e per l'impostazione<br/> della loro data di fine rapporto (per la scadenza automatica dell'account).<br/></td>
                   <td valign="top" style="text-align: right;"></td>
                  </tr>
                 </tbody>
                </table>
                <table class="entry" border="0">
                 <tbody>
                  <tr>
                   <td style="width: 25px;">&nbsp;</td>
                   <td><input type="button" value="Vai alla pagina di blocco/sblocco utenti" onclick="location.href = '/idm/lockuser.php'"></td>
                  </tr>
                 </tbody>
                </table>
               </td>
              </tr>
              <tr class="updated">
               <td class="title">Statistiche di utilizzo</td>
               <td class="note"></td>
              </tr>
              <tr class="updated">
               <td class="value" colspan="2">
                <table cellspacing="0" cellpadding="0" width="100%" border="0">
                 <tbody>
                  <tr>
                   <td class="icon" style="width: 25px;"><img src="images/statistics.png" alt="Icon" style="float: right;">&nbsp;</td>
                   <td valign="top">Accedi all'interfaccia <b>Statistiche</b><br/> per visionare quanto i tuoi utenti usano le risorse federate<br/> accedibili con questo IdP.<br/></td>
                   <td valign="top" style="text-align: right;"></td>
                  </tr>
                 </tbody>
                </table>
                <table class="entry" border="0">
                 <tbody>
                  <tr>
                   <td style="width: 25px;">&nbsp;</td>
                   <td><input type="button" value="Vai alla pagina delle statistiche di accesso" onclick="location.href = '/statistics'"></td>
                  </tr>
                 </tbody>
                </table>
               </td>
              </tr>
              <tr class="updated">
               <td class="title">Aggiornamento Utenti</td>
               <td class="note"></td>
              </tr>
              <tr class="updated">
               <td class="value" colspan="2">
                <table cellspacing="0" cellpadding="0" width="100%" border="0">
                 <tbody>
                  <tr>
                   <td class="icon" style="width: 25px;"><img src="images/user-update.png" alt="Icon" style="float: right;">&nbsp;</td>
                   <td valign="top">Accedi all'interfaccia <b>Aggiornamento Utenti</b><br/> per visionare quali nuovi utenti sono stati aggiunti a questo IdP.<br/></td>
                   <td valign="top" style="text-align: right;"></td>
                  </tr>
                 </tbody>
                </table>
                <table class="entry" border="0">
                 <tbody>
                  <tr>
                   <td style="width: 25px;">&nbsp;</td>
                   <td><input type="button" value="Vai alla pagina di Aggiornamento Utenti" onclick="location.href = '/idm-tools/updates.txt'"></td>
                  </tr>
                 </tbody>
                </table>
               </td>
              </tr>
{% if shib_pid_before_2018_09.stat.exists %}
              <tr class="updated">
               <td class="title">Utenti con Persistent-ID cambiato da Settembre 2018</td>
               <td class="note"></td>
              </tr>
              <tr class="updated">
               <td class="value" colspan="2">
                <table cellspacing="0" cellpadding="0" width="100%" border="0">
                 <tbody>
                  <tr>
                   <td class="icon" style="width: 25px;"><img src="../idm/images/default/ldap-ou.png" alt="Icon" style="float: right;">&nbsp;</td>
                   <td valign="top">Persistent-ID Modificato dal 2018/09.<br/></td>
                   <td valign="top" style="text-align: right;"></td>
                  </tr>
                 </tbody>
                </table>
                <table class="entry" border="0">
                 <tbody>
                  <tr>
                   <td style="width: 25px;">&nbsp;</td>
                   <td>Scarica l'elenco degli utenti con Persistent-ID modificato: <a href="/idm-tools/persistent-id-before-2018-09.csv" download>persistent-id-before-2018-09.csv</a></td>                  </tr>
                 </tbody>
                </table>
		                <table class="entry" border="0">
                 <tbody>
                  <tr>
                   <td style="width: 25px;">&nbsp;</td>
                   <td><b>ATTENZIONE:</b>Nel caso in cui non vi siano utenti con persistent-id modificato, il file non conterrà alcun record.</td>
                  </tr>
                 </tbody>
                </table>
               </td>
              </tr>
{% endif %}
             </tbody>
            </table>
           </center>
          </td>
         </tr>
        </tbody>
       </table>
      </div>
     </td>
    </tr>
    <tr class="foot"><td><small>&nbsp;</small></td></tr>
   </tbody>
  </table>
 </body>
</html>
