<?php // Copyright (c) 2011, SWITCH - Serving Swiss Universities

// WAYF Identity Provider Configuration file

// Find below some example entries of Identity Providers, categories and 
// cascaded WAYFs
// The keys of $IDProviders must correspond to the entityId of the 
// Identity Providers or a unique value in case of a cascaded WAYF/DS or 
// a category. In the case of a category, the key must correspond to the the 
// Type value of Identity Provider entries.
// The sequence of IdPs and SPs play a role. No sorting is done.
// 
// Please read the file DOC for information on the format of the entries

// Category

$IDProviders['local'] = array (
	'Type' => 'category',
	'Name' => 'Newly installed IdP',
);

$IDProviders['https://{{ fqdn }}/idp/shibboleth'] = array (
	'Name'      => 'IdP at {{ fqdn }}',
	'SSO'       => 'https://{{fqdn }}/idp/profile/Shibboleth/SSO',
	'Type'      => 'local',
	'Protocols' => 'urn:oasis:names:tc:SAML:2.0:protocol urn:oasis:names:tc:SAML:1.1:protocol urn:oasis:names:tc:SAML:1.0:protocol',
);
