dn: ou=people,{{ ldap_basedn }}
objectClass: top
objectClass: organizationalUnit
ou: People
description: {{ ldap_org }} people

dn: ou=groups,{{ ldap_basedn }}
objectClass: top
objectClass: organizationalUnit
ou: Groups
description: {{ ldap_org }} groups

dn: ou=system,{{ ldap_basedn }}
objectClass: top
objectClass: organizationalUnit
ou: System
