dn: ou=people,{{ ldap['basedn'] }}
objectClass: top
objectClass: organizationalUnit
ou: People
description: {{ ldap['org'] }} people

dn: ou=groups,{{ ldap['basedn'] }}
objectClass: top
objectClass: organizationalUnit
ou: Groups
description: {{ ldap['org'] }} groups

dn: ou=system,{{ ldap['basedn'] }}
objectClass: top
objectClass: organizationalUnit
ou: System

dn: ou=policies,{{ ldap['basedn'] }}
objectClass: top
objectClass: organizationalUnit
ou: Policies
description: {{ ldap['org'] }} policies

dn: {{ idp['ldap']['bindDN'] }}
objectClass: inetOrgPerson
cn: idpuser
sn: idpuser
givenName: idpuser
userPassword: {{ idp['ldap']['bindDNCredential'] }}
