# This is a reserved spot for most properties containing passwords or other secrets.

# Access to internal AES encryption key
idp.sealer.storePassword = {{ idp_config['sealer_pw'] }}
idp.sealer.keyPassword = {{ idp_config['sealer_pw'] }}

# Default access to LDAP authn and attribute stores. 
idp.authn.LDAP.bindDNCredential              = {{ idp_config['ldap']['bindDNCredential'] | default('IDP_LDAP_BINDCREDENTIAL_MISSING') }}
idp.attribute.resolver.LDAP.bindDNCredential = %{idp.authn.LDAP.bindDNCredential:undefined}

# Salt used to generate persistent/pairwise IDs, must be kept secret
idp.persistentId.salt = {{ idp_config['idp_persistentId_salt'] }}
