# RSYNC to send mysql and ldap backups to a centralized backup server.

# * * * * * user      command to be executed
# - - - - - -
# | | | | | +--- user that runs the command
# | | | | +----- day of week (0 - 6) (Sunday=0)
# | | | +------- month (1 - 12)
# | | +--------- day of month (1 - 31)
# | +----------- hour (0 - 23)
# +------------- min (0 - 59)
#
# * == everything

30 * * * * root rsync -e "ssh -o StrictHostKeyChecking=no" -a --exclude='*.sql' --rsync-path="mkdir -p {{ backups_srv['remote_path'] }}/{{ fqdn }} && rsync" /var/local/backups/mysql root@{{ backups_srv['ip'] }}:{{ backups_srv['remote_path'] }}/{{ fqdn }}

{% if (ldap is defined and ldap['url'] != "") %}
30 * * * * root rsync -e "ssh -o StrictHostKeyChecking=no" -a --exclude='*.ldif' --rsync-path="mkdir -p {{ backups_srv['remote_path'] }}/{{ fqdn  }} && rsync" /var/local/backups/ldap root@{{ backups_srv['ip'] }}:{{ backups_srv['remote_path'] }}/{{ fqdn }}
{% endif %}
