#!/usr/bin/env python
#-*- coding: utf-8 -*-

import MySQLdb

db = MySQLdb.connect("localhost","root","{{ mysql['root_password'] }}" )

cursor = db.cursor()

cursor.execute("SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = 'shibboleth' AND TABLE_NAME = 'shibpid'")
shibpid = cursor.fetchone()

cursor.execute("SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = 'shibboleth' AND TABLE_NAME = 'StorageRecords'")
storageRecords = cursor.fetchone()

cursor.execute("SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = 'statistics' AND TABLE_NAME = 'logins'")
logins = cursor.fetchone()

cursor.execute("SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = 'statistics' AND TABLE_NAME = 'sps'")
sps = cursor.fetchone()

if (shibpid and storageRecords and logins and sps):
   print "0 check_mysql - SUCCESS - IdP has all needed databases"
else:
   print "1 check_mysql - CRITICAL - IdP doesn't have all needed databases"

db.close()
