#!/usr/bin/env python3
#-*- coding: utf-8 -*-

import xml.etree.cElementTree as ET

import sys, getopt
import argparse
from subprocess import check_output
import shlex
import os
from io import StringIO

# PARAMETERS

spEntityId  = "https://fake-rs.example.org/shibboleth"
user        = "testuser"

# END PARAMETERS

parser = argparse.ArgumentParser(prog="check_rs.py",description=f"Run AACLI to verify that IdP is compliant with RS EC", epilog="RS CHECK SCRIPT")
parser.add_argument("--debug", dest="debug", action="store_true", help="Print debug information", default=False)
parser.add_argument("--entity", dest="spEntityId", help="Specify SP entityId", default=spEntityId)
parser.add_argument("--principal", dest="user", help="Username to be checked", default=user)
options = parser.parse_args()

if options.debug:
   print(f"\nOptions passed to command: {options}")

os.environ["JAVA_HOME"] = "{{ java_home_dir }}"
result = check_output(shlex.split(f"/opt/shibboleth-idp/bin/aacli.sh --saml2 --principal {user} --requester {spEntityId}"))

if options.debug:
   print (f"\n/opt/shibboleth-idp/bin/aacli.sh --saml2 --principal {user} --requester {spEntityId}")

namespaces = {
   'saml2': 'urn:oasis:names:tc:SAML:2.0:assertion'
}

tree = ET.parse(StringIO(result.decode('utf-8')))
root = tree.getroot()
attrs = root.findall("./saml2:AttributeStatement/saml2:Attribute", namespaces)

rs_set = set(['eduPersonPrincipalName','eduPersonTargetedID','mail','displayName','givenName','sn'])
attrs_list = []

for samlAttr in attrs:
   friendlyName = samlAttr.get('FriendlyName')
   attrs_list.append(friendlyName)

if options.debug:
   print (f"\nAACLI Attribute List: \n{attrs_list}")
   print (f"\nRS Attribute Set: {rs_set}")

result = set(rs_set).issubset(attrs_list)

if result and len(attrs_list) != 0:
   print ("0 check_rs - SUCCESS - IdP has retrieved metadata of Test RS SP and is sending attributes to it")
   sys.exit(0)
else:
   print ("1 check_rs - CRITICAL - IdP doesn't send attributes to Test RS SP")
   sys.exit(1)
