<IfModule mod_proxy.c>
    ProxyPreserveHost Off
    RequestHeader set X-Forwarded-Proto "https"
    ProxyPass /idp http://localhost:8080/idp retry=5
    ProxyPassReverse /idp http://localhost:8080/idp retry=5

    <Location /idp>
        Require all granted
    </Location>

    <If " %{REQUEST_URI} == '\/' && %{HTTP:Accept-Language} =~ /^it/">
        RedirectMatch ^/$ {{ idp_metadata['it']['mdui_infoUrl'] }}
    </If>
    <Else>
        RedirectMatch ^/$ {{ idp_metadata['en']['mdui_infoUrl'] }}
    </Else>
</IfModule>
