idp.src.dir = /usr/local/src/shibboleth-identity-provider-{{ shib_idp_version }}

idp.target.dir = /opt/shibboleth-idp

idp.host.name = {{ ansible_hostname }}.{{ https_domain }}

idp.uri.subject.alt.name = https://{{ ansible_hostname }}.{{ https_domain }}/idp/shibboleth

idp.sealer.password = {{ idp_pw }}

idp.keystore.password = {{ idp_pw }}

idp.scope = {{ ldap_domain }}

idp.merge.properties = /tmp/shib-idp-install.properties
