idp.src.dir = /usr/local/src/shibboleth-identity-provider-{{ shib_idp_version }}

idp.target.dir = /opt/shibboleth-idp

idp.host.name = {{ fqdn }}

idp.uri.subject.alt.name = https://{{ fqdn }}/idp/shibboleth

idp.sealer.password = {{ idp_sealer_pw }}

idp.keystore.password = {{ idp_keystore_pw }}

idp.scope = {{ idp['scope'] }}

idp.merge.properties = /tmp/shib-idp-install.properties
